<h2>User Based chart</h2>

<canvas baseChart height="400" width="800"
        [data]="barChartData_userBased"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
</canvas>


<h2>Month Based chart</h2>
<canvas baseChart height="400" width="800"
        [data]="barChartData_monthBased"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
</canvas>